img {
    width: 45%;
    height: auto;
    margin-left:25%;
    border-radius: 100%;
    object-fit: cover;
}

body {
    background-color: #ed217c;
}

.GHicon {
    margin-left: 30%;
}
.LIicon {
    margin-left: center;
}
.ints {
    text-align: center;
}
.phil {
    text-align: center;
}